@charset "utf-8";
/* CSS Document */

h1{
color: darkred;
}
#Stoffel {
	height: 400px;
	width: 300px;
}
#RSA{
	height: 400px;
	width: 600px;
}

.btn {
  padding: 2rem 4rem;
  border: 2px var(--color, black);
  background: transparent;
  font-size: 0.6em;
  border-radius: 2px;
}
.btn:hover {
  cursor: pointer;
  background: var(--color, black);
  color: white;
}

/* variations */

.btn.red {
  border-color: red
}